/* *{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #111;
}

.textimagecontainer{
height: 100%;
display: flex;
align-items:center;
overflow: hidden;
}     
.textcontainer{
    flex: 1;
}
.imagecontainer{
    flex: 3;
}
.text{
color: #333;
font-size: 60vw;
}
.img{
width: 100%;
}
.namecontainer{
background-color: rebeccapurple;
height: 100vh;
align-items:center;
}
.name{
font-size: 20vw;
color: #333;
text-align:center;
line-height: 100vh;
}
.jobtitlecontainer{
height: 100vh;
font-size: 10vw;
text-align: center;
}
.jobtitlecontainer{
background-color: #333;
}
.purple{
background-color: rebeccapurple;
color: #333;
text-align: center;
line-height: 100vh;
}
.projects{
background-color: black;
color: #333;
display: flex;
flex-direction: column;
gap: 30vh;
overflow: hidden;
}
.projectstitle{
font-size: 10vw;
color: #333;
}
.project{
display: flex;
flex-direction: row;
gap: 200px;
align-items: center;
margin-left: 100px ;
margin-right: 100px;
}
.project:nth-child(3n){
flex-direction: row-reverse;
}

.screen::-webkit-scrollbar
{
display: none;
}
.phone{
width: 300px;
height: 600px;
position: relative;
flex: 1;
}
.phoneScreen{
width: 206px;
height: 460px;
position: absolute;
top: 19px;
left: 18px;
border-radius: 22px;    
overflow: scroll;
}
.phoneApp{
height: 444px;
border-radius:  22px;   
}
.but{
margin-top: 15px;
}
.projectdetail{
flex: 3;
display: flex;
gap: 50px;
flex-direction: column;
align-items: center;
}
.projecttitle{
font-size: 7vw;
color: #555;
}
.projdesc{
font-size: 20px;
color: #555;
text-align: justify;
line-height: 40px;
}
.but{
background-color: transparent;
color: #555;
border:2px solid #555; 
cursor: pointer;
position: relative;
overflow: hidden;
width: 7vw;
height: 2vw;
}
.but::after{
content:"view demo";
transition: 1s all;
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: -100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #555;
color: #222;
}
.but:hover.but::after{
transform: translateX(100%);
}
.laptop{
height: 200px;
width: 350px;
position: relative;
}
.laptopScreen{
height: 148px;
width: 228px;
position: absolute;
top: 25px;
left: 68px;
overflow: scroll;
}
.laptopApp{
height: 148px;
width: 228px;
}
.laptopScreen::-webkit-scrollbar{
display: none;
}
.projects:nth-child(2n){
flex-direction: row-reverse;
}
.githubcontainer{
height: 100vh;
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-around; 
}
.githubTitle{
font-size: 100px;
color: #333;
}
.gitchart{
width: 820px;
}
.dates{
color: #555;
font-size: 12px;
padding: 5px;
display: flex;
justify-content: space-between;
}
.boxContainer{
display: flex;
flex-wrap: wrap;
gap: 5px;
}

.box{
height: 15px;
width: 15px;
background-color: #171c25;
border-radius: 2px;
cursor: pointer;
transition: 2s all ease;
}

.active:nth-child(4n){
background-color: #195b2c;
}

.gitchart:hover .active:nth-child(2n+1)
{
background-color: #195b2c;
}

.gitchart:hover .active:nth-child(2n)
{
background-color: #063f24;
}

@media screen and(max-width:1024px){
    .project    {
        flex-direction: column;
    }
    
    .project:nth-child(2n){
        flex-direction: column;
    }
    .phone,.laptop{
        transform: none !important;
    }
} */
/* new css ............................................... */

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    --main-color: #00abf0;
  }

  .header{
    position: scroll;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0ef ;
  }
  

  .container {
    background-color: #111;
    overflow-x: hidden; 
  }
   
  .salute {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 30px;
  }
  
  .saluteTextContainer {
    flex: 1;
  }
  
  .saluteImgContainer {
    flex: 3;
  }
  
  .saluteText {
    color: #333;
    font-size: 50vw;
    cursor: default;
    background: linear-gradient(to top right, #0000cc 20%, #ff00ff 20%, #09f1b8, #fed90f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 2s ease-in-out infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 
  
  .saluteImg {
    width: 28rem;
  }
  
  .nameContainer {
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  
  .name {
    font-size: 20vw;
    color: #333;
    cursor: default;
    /* text-align: center; */
    line-height: 50vh;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #ff00d2, #fed90f, #00a2ff, #09f1b8,
    #09f1b8, #fed90f, #00a2ff, #09f1b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 3s ease-in-out infinite;
    }

   @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 
  
  .jobTitleContainer {
    height: 100vh;
  }
  
   .dark { 
    background: black
   }
  .purple {
    background: black;
  }
  
  .jobTitle {
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
    cursor: default;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(135deg,  #09f1b8, #00a2ff, #fed90f,#ff00d2,
                                 #ff00d2, #00a2ff,#fed90f,  #ff00d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 5s ease-in-out infinite;
  }  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;                              
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 

  .projects {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 0px 100px;
    background-color: black;
  }
  
  .projectsTitle {
    font-size: 10vw;
    background: linear-gradient(to top right, #0000cc 20%, #ff00ff 20%, #09f1b8, #fed90f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 3s ease-in-out infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;                              
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 
  
  .project {
    display: flex;
    align-items: center;
    gap: 100px;
    /* height: 100vh; */
    overflow: hidden;
  }
  
  .project:nth-child(2n) {
    flex-direction: row-reverse;
  }
  
  .phone {
    flex: 1;
     width: 300px;  
    height: 600px; 
    position:relative;
  }
  
  .phoneScreen {
    width: 267px;
    height: 540px;
    top: 4px;
    left: 17px;
    position: absolute;
    border-radius: 14px;
    overflow: scroll;
  }
  .screen{
    border-radius: 20px ;
    width:fit-content;
  }
  .phoneScreen::-webkit-scrollbar {
    display:none;
  }
   
  .phoneApp {
    width: 266px;
    height: 540px;
  }
  
  
  .projectDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  
  .projectTitle {
    font-size: 3vw;
    background-image: linear-gradient(to bottom right, #060805, #212c1c, #285727, #167518, #10ab1a, #1eff00 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 7s ease-in-out infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;                              
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 
    
  .projectDesc {
    font-size: 20px;
    color: white;
    text-align: justify;
    line-height: 40px;
  }
  
  .projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #ff04ff;
    color: #4dfff0;
    /* border: 2px solid #555; */
    /* color: #555; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: large;
  }
  
  .projectButton::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05f092;
    color: #222;
  }
  .projectButton:hover.projectButton::after {
    transform: translateX(100%);
  }
  .education{
    padding: 50;
    /* height:120vh; */
    background-color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 1rem;
  }
  .education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

  }

  .education-row .education-column{
    flex: 1 1 40rem;
  }
   
  .education-column .edu-title{
    font-size: 3.5rem;
    margin: 0 0 1.5rem 2rem;
    /* color: #07e6d6; */
    background: linear-gradient(135deg, black, #112820,#09774e,
    #0c836f, #1ca795, #07e6d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-size: 300% 300%;
    animation: gradient 5s ease-in-out infinite;
  }  

@keyframes gradient {
  0% {
 background-position: 0% 50%;                              
 }
  50% {
  background-position: 100% 50%;
 }
  100% {
 background-position: 0% 50%;
 }
} 
  
 
  .education-column .education-box{
    border-left: .2rem solid var(--main-color);
  }

  .education-box .education-content{
    position: relative;
    padding-left: 2rem;
  }
  
  .education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height:2rem;
    background:  var(--main-color);
    border-radius: 50%;
  }
  
  .education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  .education-content .content *{
    z-index: 4;
  }
  .education-content .content::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100%;
     /* background:red;  */
  }
 
  /* .bx bxs-calendar{; */
  /* } */
  .education-content .content .year {
    font-size: 1.5rem;
    color:#18ad08;
    /* color: var(--main-color); */
    padding-bottom: .5rem;

  }
  .education-content .content .year i{
    padding-right: .5rem;
  }
 
  .education-content .content h3 {
    font-size: 30px;
    text-decoration: dotted;
    color: rgb(219, 154, 154);
  }
  .education-content .content p {
   font-size: 20px;
   color:whitesmoke;
  }
  .NRCM{
    color: #75f909;  }
 
  /*
  .laptop {
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
  }
  
  .laptopScreen {
    width: 229px;
    height: 150px;
    position: absolute;
    top: 23px;
    left: 67px;
    overflow: scroll;
    background-color: rgb(0, 13, 255);
  }
  
  .laptopApp {
    width: 100%;
    height: 100%;
  }
  
  .laptopScreen::-webkit-scrollbar {
    display: none;
  }
  */
  
  
  .sec-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* gap: 26rem; */
    flex-wrap: wrap;
  }
  .starskill-container{
    display: flex;
    flex-direction: column;
    
  }
  .about-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    flex: 1;
    /* flex-wrap: wrap; */
  }
  .skillcontainer{
    /* height: 100vh; */
    background-color: black;    
    padding: 50;
  }
  .about-me-container{ 
   font-size: 5vw; 
   color: #333; 
   
   } 
 .about-me{
  font-size: 5vw;
  background: linear-gradient(135deg, black, #112820,#09774e,
  #0c836f, #1ca795, #01ffe6,  #07e6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
 animation: gradient 5s ease-in-out infinite;
 }  

 @keyframes gradient {
 0% {
 background-position: 0% 50%;                              
 }
 50% {
 background-position: 100% 50%;
 }
 100% {
 background-position: 0% 50%;
 }
} 

  .skillheadcontainer{ 
    text-align: start;
    /* background: #000; */
  }
  .about{
    color: rgb(246 132 132);
    font-size: 30px;
  }
  .namaste-icon{
    height: 61px;
  }
  .marq{
    direction:ltr;
    /* background: rgb(0, 118, 139);  */
  }
  .para-graph{
    color: white;
    font-size: 25px;

  }
  .lang{
    color: rgb(19, 195, 195);
  } 
.star-image{
  background: none;
  color:#c3c066;
  /* height: 32px; */
  border:#555;
  font-size: 50px;
}
  .stars{
  height: 59px; 
     width: 320px; 
  }
.tech-skill{
  /* font-size: 29pxs; */
  color: #d6fdfe;
}
  .skill{
    font-size: 7vw;
    background: linear-gradient(135deg, black, #112820,#09774e,
                                 #0c836f, #1ca795, #01ffe6,  #07e6d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 5s ease-in-out infinite;
  }  

  @keyframes gradient {
    0% {
      background-position: 0% 50%;                              
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
   } 
  

  .star-rate{
    display: flex; 
     gap: 27px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
   }
   
    /*
  .star_rating{
    display: flex;
  }
  .java-star{
    font-size: 3rem;
    color: #222;
    background-color: unset;
    border:none;
  }
  .dbms-star{
    font-size: 3rem;
    color: #222;
    background-color: unset;
    border:none;
  }
  .html-star{
    font-size: 3rem;
    color: #222;
    background-color: unset;
    border:none;
  }
  .css-star{
    font-size: 3rem;
    color: #222;
    background-color: unset;
    border:none;
  }
  .js-star{
    font-size: 3rem;
    color: #222;
    background-color: unset;
    border:none;
  }
  .star:hover{
    cursor:pointer;
  }
  */
  .githubContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
  }
  
  .githubTitle {
    font-size: 100px;
    color:#0d7377;
   }
  
  .githubChart {
    width: 820px;
    text-align: center;
  }
  
  .dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  
  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
  }
  
  .box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
  }
  
  .active:nth-child(4n) {
    background-color: #195b2c;
  }
  
  .githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
  }
  
  .githubSm{
    display: none;
  }
  
  @media screen and (max-width:1024px) {
  
    .projects{
      padding: 0 30px;
      text-align: center;
    }
  
    .project{
      flex-direction: column;
      height: max-content;
    }
    .project:nth-child(2n){
      flex-direction: column;
    }
  
    .phone,.laptop{
      transform: none !important;
    }
    
    .githubChart{
      /* display: none; */
    }
  
    .githubTitle{
      text-align: center;
      font-size: 10vw;
    }
  
    .githubSm{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color:#555;
      font-size: 30px;
      text-align: center;
    }
  }
  .btn-container{
    align-items: center;
    display:flex;
    justify-content: center;  
  }
  .git-btn{
    background-color:black;
    color: #14ffec;
    font-size: x-large;
    align-items: center;
    -webkit-animation: none;
    animation: none;
    border: 2px solid#14ffec;
    border-radius: 20px;
    display: flex;
    /* height: 40px; */
    justify-content: center;
    margin-left: 20px;
    outline: none;
    padding: none;
     width: 97px;
    position: relative;
    overflow: hidden;
  }
  .git-btn::after{
    content: "open";
    width: 100%;
    height: 100%;
    position: absolute;
     top: 0;
    left: -100%;
    transition: 750ms all;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color:#14ffec; 
    color: #33bb9d;     
    /* z-index: -1; */
  }
  .git-btn:hover.git-btn::after{
    transform: translateX(100%);
  }
  .Contact-container{
    /* height: 100vh; */
    background: rgb(0, 0, 0) url("./img/bg2.png");
    padding: 50px;
    
    /* line-height: 1.5; */
  }  
  .contact-title{
    font-size: 50px;
    margin-top: 1rem;
    position: relative;
    /* width: 80%; */
    font-family: font-file-82132;
    color: #0ef;
  }
  .sec-contact{
    /* line-height: 1.5; */
    display: flex;
    flex-wrap: wrap;
  }
  .personal-details{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* align-content: flex-start; */
    align-items: flex-start;
    justify-content: center;
  }
  .personal-info{
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    /* margin: 10px 0;  */
    width: 80%;
    gap: 12px;
    /* margin: 10px 0px 10px 30px */
  }

  .app{
    border: 2px solid #0ef;
    border-radius: 12px;
    width: 50%;
    padding: 10px;
    cursor: pointer;
  }

  .c-left{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex: 1;
  }


  .form-container{
    flex: 1; 
    /* align-items: center; */
    display: flex;
     /* flex: 1 1; */
    flex-direction: column;
    /* justify-content: center; */
  }
  .form-container form{
  margin-top: 31px;
 
  }
  
  .form-container h2{
    font-size: 50px;
    margin-top: 19px;
    /* width: 80%; */
    font-family: font-file-82132;
    color: #0ef;
  }
  .form-desc{
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-top: 48px;
}
  .form{
    display: block;
    margin-top: 40px;
    position: relative;
  }
  input{
    background-color: #000;
    border: 1px solid #0d7377;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    height: 50px;
    margin: 10px 0;
    outline: none;
    padding-left: 10px;
    width: 50%;
  }
  textarea{ 
    background-color: #000;
    border: 1px solid #0d7377;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
    outline: none;
    padding-left: 10px;
    width: 70%;
  }

  .send{
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid#14ffec;
    color: #14ffec;
    /* border: 2px solid #555; */
    /* color: #555; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: large;
  }
  .send::after {
    content: "Send";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#14ffec;
    color: #222;
  }
  .send:hover.send::after {
    transform: translateX(100%);
  }

  .footer-container{
    background-color: #0d7377;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    height: 50%;
    font-family: Roboto Slab;
  }
  .tabs{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .tab-s{
    cursor: pointer;
  }
  .profiles{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: x-large;
    /* color: #000; */
  }
  .btns{
    background-color: black;
  align-items: center;
    -webkit-animation: none;
    animation: none;
    border: none;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: 20px;
    outline: none;
    padding: none;
    width: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btns::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#14ffec;
    color: #222;
  }
  .btns:hover.btns::after {
    transform: translateX(100%);
  }

  .footer-title{
    font-family: font-file-82132;
  }

  .social{
    position: absolute;
    z-index: 1;
  }
  .navbar {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-top: 90vh;
    position: fixed;
    top: 0;
    z-index: 3;
}

  .navbar .container {
  align-items: center;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  background: rgba(42,194,225,.1);
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  width: 30vw;
}
.icon-container{
  display: flex;
  gap: 1px;
}
.icons{
  color: #08fbea;

}

  /*
  .con{
    font-size: 90px;
    color: white;
    line-height: 1;
    margin-left: 300px;
  }
  
  .sp{
    color:#0ef;
    margin-left: 130px;
  }
*/
  /*
  .Contact-list{
    margin-bottom: 3rem;
    cursor:default;
  }
  .Contact-list li{
    margin-bottom: 10px;
    display: block;
  }
  .Contact-list li{
    margin-bottom: 10px;
    display: block;
  }